/* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: "Oswald-Regular";
  background-color: #ffffff;
}
/* Fonts
-------------------------------------------------- */
@font-face {
    font-family: "helvetica-neue-medium";
    src: url(../fonts/helvetica-neue-medium.ttf);
}
@font-face {
    font-family: "Oswald-Regular";
    src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
/* custom presets
-------------------------------------------------- */
.overflow-h{overflow: hidden;}
.text-white{color: #ffffff;}
.text-black{color: #000000;}
.clearboth{clear: both;}
.marginBottom20{margin-bottom: 20px;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* HEADER
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 40px;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse{background-color: transparent;border-color:transparent;}
.nav-menu{position: absolute;top: 0;right: 10px;}
.navbar-inverse .navbar-brand{color: #ffffff;}
.navbar-brand{font-size: 20px;color: #ffffff;padding: 0;margin: 0;font-family: "helvetica-neue-medium",Arial,Sans-serif;}

/* CAROUSEL 
-------------------------------------------------- */
.carousel-control{display: none;}
.logo{width: 232px;height: 475px;position: absolute;top: 20%;left: 8%;z-index: 9999;}
.carousel-inner > .item > img {min-width: 100%;min-height: 100%;}
.main-content{position: relative;}
.carousel-caption{top: 38%;width: 700px;left: 50%;margin-left: -273px;text-align: left;}
.carousel-caption p .btn.btn.btn-primary{width: 160px;height: 58px;line-height:58px;background-color: #e92121;border-radius: 0;border: none;padding: 0;
  margin: 0;font-family: Arial,Sans-serif;}
.carousel-caption p.text{font-size: 28px;font-family: "Oswald-Regular",Arial,Sans-serif;margin-bottom: 25px;}

/* SERVICES SECTION
-------------------------------------------------- */

.services-section{padding: 52px 0 0 0;margin: 0 0 60px 0;}
.products-column{margin: 25px 0 0 0;}
.products-column .service-title{font-family: "Oswald-Regular",Arial,Sans-serif;font-size: 22px;
color: #727272;text-transform: uppercase;margin: 25px 0 0;min-height: 56px;}
.products-column .desc{color:#9E9595;margin-bottom: 60px;font-size: 15px;font-family: "OpenSans-Light",Arial,Sans-serif;}
.title{font-family: "Oswald-Regular",Arial,Sans-serif;font-size: 32px;margin-bottom: 20px;}
.description{font-family: "OpenSans-Light",Arial,Sans-serif;font-size: 17px;margin-bottom: 30px;}
.services-section .service-name {background-color: #f0f0f0;
  text-align: center;padding: 20px 10px;position: relative;min-height: 210px;}
.services-section .service-name .learn-more-btn{font-family: "OpenSans-Bold",Arial,Sans-serif;width: 130px;margin-left: -65px;
position: absolute;left: 50%;bottom:-15px;border: 1px solid #dddddd;border-radius: 0;padding: 8px 7px;color: #da3924;outline: none;}
.services-section .service-name .learn-more-btn:hover{background-color: #333333;border-color:#333333;color: #ffffff;}

/* ABOUT US SECTION
-------------------------------------------------- */

.aboutus-section{background-color: #e3000f;padding: 40px 0;color: #ffffff;}



/* CCONTACT US SECTION
-------------------------------------------------- */
.contact-section .form-inline .form-control::-webkit-input-placeholder {
   color: #ffffff;
}

.contact-section .form-inline .form-control:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}

.contact-section .form-inline .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

.contact-section .form-inline .form-control:-ms-input-placeholder {  
   color: #ffffff;  
}
.contact-section{text-align: center;;background: url(../images/contactus.jpg) 0 0 no-repeat #000000;
background-size: 100% 100%;padding: 100px 0;}
.contact-section .form-inline .form-group{display: block;margin-bottom: 15px;padding-left: 0;
  font-family: "OpenSans-Regular",Arial,Sans-serif;}
.contact-section .form-inline .form-control{width: 100%;display: block;border-radius: 0;
  background: transparent;border: 1px solid #ffffff;color: #ffffff;}
.form-inline .submit-btn{width: 144px;border-radius: 0;background:transparent;color: #ffffff;
  padding: 12px 0;outline: none;font-family: "Oswald-Regular",Arial,Sans-serif;font-size: 16px;text-transform: uppercase;}
.form-inline .submit-btn:hover,.form-inline .submit-btn:focus{background-color: transparent;outline: none;border-color: #ffffff;color: #ffffff}


/* FOOTER 
-------------------------------------------------- */

.footer{height: 90px;background-color: #1f1a1e;line-height: 90px;}
.footer ul{list-style-type: none;text-align: center;margin-bottom: 0;}
.footer ul li{display: inline;margin-right: 25px;}
.footer ul li a{color: #939393;text-transform: uppercase;font-family: "Oswald-Regular",Arial,Sans-serif;
font-size: 15px;text-decoration: none;}
.footer ul li a:hover{color: #ff3b3b;border-bottom:2px solid #ff3b3b;}
.avatar img{width: 100%;}
.text-danger{display: none;}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and (max-width: 1155px){
  .logo{display: none;}
  .carousel-caption {
    top: 30%;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    margin-left: 0;
    width: auto;
  }
}
@media screen and (max-width: 992px){
    .services-section .service-name:nth-child(1){margin-bottom: 35px;}
}
@media screen and (max-width: 768px){
    .inner-column{margin-bottom: 38px;}
}
@media screen and (max-width: 550px){
    .aboutus-section .abs-left .col-xs-4{width: 100%;margin-bottom: 10px;}
    .aboutus-section .abs-left .title{margin-bottom: 0;}
    .aboutus-section .abs-right{width: 100%;}
    .navbar-brand{font-size: 15px;}
}
@media screen and (max-width: 449px){
    .footer ul li{margin-right: 10px;}
    .footer ul li a{font-size:11px; }
    .navbar-brand{font-size: 15px;}
}

